<div *ngIf="!controller.connected">
    <mat-form-field> <input type="text" matInput
        [(ngModel)]="baseUrl"> </mat-form-field>
    <button mat-raised-button (click)="Connect()">Conectar</button>
</div>
<div *ngIf="controller.connected">
    <clock [time]="controller.time$"></clock>
    <power-control [portPower]="controller.ports$"></power-control>
    <logs [logs]="controller.log$"></logs>
    <button MatButton (click)="Reboot()">Reboot</button>
    <button MatButton (click)="BoardInfo()">Get Board Info</button>
    <button MatButton (click)="GetTemperatures()">Get Temperature</button>
    <div *ngIf="boardInfo$">{{boardInfo$|async|json}}</div>
</div>